@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-color: blue;
}

.nav-bar {
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  margin-bottom: 5px;
}
.logo {
  height: 30px;
  width: 30px;
}
.app-name li {
  margin-top: -10px;
  margin-bottom: 5px;
  color: white;
  list-style-type: none;
}
.notification {
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 10px;
}
.search-box {
  margin-top: 8px;
}
.profile {
  margin-top: 10px;
  margin-left: 10px;
}

.current {
  margin-top: 40px;
  height: 35vh;
  background-color: blue;
  display: flex;
  display-direction: row;
  flex-wrap: wrap;
}
.now-playing {
  width: 60%;
  margin-right: 9%;
  background-color: purple;
  display: flex;
  flex-wrap: wrap;
}

.similiar-artists {
  height: 90%;
  width: 31%;
  background-color: blue;
  diplay: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.heading {
  height: 10%;
  margin-bottom: 10%;

  /* font: weight 40px; */
}
.heading span {
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  color: white;
}
.heading text {
  font-family: "Varela Round", sans-serif;
  color: white;
  margin-left: 100px;
}
.one {
  text-align: center;
  height: 23%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4%;
}
.two {
  height: 23%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3%;
}
.three {
  height: 23%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.one-image {
  height: 100%;
  width: 30%;
}
.one-name {
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  width: 30%;
  padding-top: 30px;
  color: white;
}
.one-icons {
  font-family: "Varela Round", sans-serif;
  padding-left: 150px;
  padding-top: 30px;
  color: white;
}

.center {
  display: block;
  height: 90%;
  width: 100%;
}
.two-image {
  height: 100%;
  width: 30%;

  /* margin-top: 1%; */
}
.two-icons {
  font-family: "Varela Round", sans-serif;
  padding-left: 149px;
  padding-top: 30px;
  color: white;
}
.recents {
  height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blue;
  margin-top: 4vh;
}
.songs-list {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blue;
  margin-right: 10%;
}
.recents-songs {
  margin-left: -1%;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: blue;
}
.songs {
  height: 18%;
  width: 100%;
  background-color: voilet;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.song-number {
  text-align: center;
  padding-top: 15px;
  width: 5%;
  color: white;
}
.song-photo {
  padding-top: 3px;
  width: 8%;
}
.song-name {
  width: 64%;

  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  padding-left: 30px;
  padding-top: 14px;
  color: white;
}
.song-liked {
  width: 5%;

  padding-top: 14px;
}
.song-plus {
  width: 5%;

  padding-left: 8px;
  padding-top: 14px;
}
.recents-songs-heading {
  height: 22%;

  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.recents-songs-heading span {
  padding-top: 15px;
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  color: white;
}
.recents-songs-heading text {
  font-family: "Varela Round", sans-serif;
  color: white;
  padding-top: 30px;
  margin-left: 75px;
}
.recents-songs-one {
  height: 17.5%;
  margin-bottom: 5px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.recents-songs-one-number {
  width: 8%;
  text-align: center;
  padding-top: 15px;
  color: white;
}
.recents-songs-one-image {
  width: 15%;
}
.recents-songs-one-name {
  width: 63%;

  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  padding-left: 30px;
  padding-top: 14px;
  color: white;
}
.recents-songs-one-icons {
  width: 5%;

  padding-top: 14px;
  color: white;
}
.bottom {
  height: 9vh;
  margin: 0px 0px;
  /* position: sticky; */
  /* bottom: 0%; */
  margin-top: 6px;
  margin-bottom: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: violet;
}
.icons {
  margin-left: 40%;
  padding-top: 2px;
  height: 65%;

  /* border: 4px solid red; */
  /* margin-left: 45%; */
}
.seek-icon {
  /* margin-left: 25%; */
  height: 20%;
  margin-left: 8%;
  margin-top: -2px;
  /* border: 4px solid red; */
  /* width: 60%; */
  color: white;
  margin-bottom: -13px;
}
.seek-icon input {
  width: 70%;
}
.bottom-one {
  width: 30%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bottom-two {
  width: 48%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bottom-three {
  width: 22%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bottom-one-image {
  padding-top: 8px;
  padding-left: 30%;
  height: 70px;
  width: 70px;
  /* background-color: white; */
}
.bottom-song-name {
  padding-left: 20px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding-top: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom-one-image img {
  border-radius: 50%;
}
.bottom-one-image span {
  color: white;
}
.playlist-icon {
  padding-top: 20px;
  height: 15x;
  width: 15px;
  padding-right: 15px;
}
.switch-icon {
  padding-top: 20px;
  height: 15x;
  width: 15px;
  padding-right: 15px;
}
.sound span {
  padding-top: 20px;
  height: 15x;
  width: 15px;
  padding-right: 15px;
}
.full-screen {
  padding-top: 28px;
  height: 15x;
  width: 15px;
  padding-left: 10px;
}
