@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-color: blue;
}

.nav-bar {
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  margin-bottom: 5px;
}
.logo {
  height: 30px;
  width: 30px;
}
.app-name li {
  margin-top: -10px;
  margin-bottom: 5px;
  color: white;
  list-style-type: none;
}
.notification {
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 10px;
}
.search-box {
  margin-top: 8px;
}
.profile {
  margin-top: 10px;
  margin-left: 10px;
}

.current {
  margin-top: 40px;
  height: 35vh;
  background-color: blue;
  display: flex;
  display-direction: row;
  flex-wrap: wrap;
}
.now-playing {
  width: 60%;
  margin-right: 9%;
  background-color: purple;
  display: flex;
  flex-wrap: wrap;
}

.similiar-artists {
  height: 90%;
  width: 31%;
  background-color: blue;
  diplay: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.heading {
  height: 10%;
  margin-bottom: 10%;

  /* font: weight 40px; */
}
.heading span {
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  color: white;
}
.heading text {
  font-family: "Varela Round", sans-serif;
  color: white;
  margin-left: 100px;
}
.one {
  text-align: center;
  height: 23%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4%;
}
.two {
  height: 23%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3%;
}
.three {
  height: 23%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.one-image {
  height: 100%;
  width: 30%;
}
.one-name {
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  width: 30%;
  padding-top: 30px;
  color: white;
}
.one-icons {
  font-family: "Varela Round", sans-serif;
  padding-left: 150px;
  padding-top: 30px;
  color: white;
}

.center {
  display: block;
  height: 90%;
  width: 100%;
}
.two-image {
  height: 100%;
  width: 30%;

  /* margin-top: 1%; */
}
.two-icons {
  font-family: "Varela Round", sans-serif;
  padding-left: 149px;
  padding-top: 30px;
  color: white;
}
.recents {
  height: 45vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blue;
  margin-top: 4vh;
}
.songs-list {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blue;
  margin-right: 10%;
}
.recents-songs {
  margin-left: -1%;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: yellow;
}
.songs {
  height: 18%;
  width: 100%;
  background-color: voilet;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.song-number {
  text-align: center;
  padding-top: 15px;
  width: 5%;
}
.song-photo {
  padding-top: 3px;
  width: 8%;
}
.song-name {
  width: 64%;

  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  padding-left: 30px;
  padding-top: 14px;
  color: white;
}
.song-liked {
  width: 5%;

  padding-top: 14px;
}
.song-plus {
  width: 5%;

  padding-left: 18px;
  padding-top: 14px;
}
